<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PetSuite">
	
	<listeners>
		<listener class-name="api.utilities.TestListener" />
	</listeners>
	
  <test name="PetTests">
    <classes>
      <!--<class name="api.test.UserTests"/> -->
      <class name="api.test.UserTests2"/>
<!-- <class name="api.test.DataDrivenTests"/> -->
    </classes>
  </test> <!-- PetTests -->
</suite> <!-- PetSuite -->
